
 /* Styling for the overall layout */
 .container {
  font-family: 'Poppins', sans-serif;
}

/* Navbar container */
.navbarContainer {
  background-color: #1f1f3a; 

  padding: 15px 30px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Navigation list */
.navList {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

/* List item (nav links) */
.navList li {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.navList li a {
  text-decoration: none;

  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 4px;
  position: relative;
}

/* Hover effect with color and smooth underline */
.navList li a:hover {
  /* border-bottom: 2px solid #ff4500;  */
  transform: translateY(-3px);
  color: brown;
}


/* Main content area */
.mainContent {
  padding: 20px;
  background-color: #f3f4f6; 
  min-height: calc(100vh - 70px); 
}

/* Active state ke liye styling */
.active {
  color: red; /* Active link ka color */
  border-bottom: 2px solid #ff4500; /* Active underline effect */
  font-weight: bold; /* Bold text for active link */
}


/* Responsive styles for mobile */
@media (max-width: 768px) {
  .navbarContainer {
    padding: 10px 20px;
  }

  .navList {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
