* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 ,
p{
  margin: 1rem;
  text-align: center;
}

ul {
  list-style: none;
}
li {
  cursor: pointer;
}




.main{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  width: 95%; */

    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.main .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 7rem;
  margin-top: 2rem;
  
}


.product {
  background: #efefef;
  padding: 1rem;
  box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
}
.product:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.title,
.price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}
.price {
    font-weight: 700;
}


.des{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out; /* Transition for height and opacity */
  overflow: hidden; /* Hide overflow */
  max-height: 0; /* Initially collapsed */
  opacity: 0; /* Initially invisible */
}

.btn button{
  transition: hight 0.2s ease-in, transform 0.2s ease-in;
}